# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variable files
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VSCode settings
.vscode/

# PyCharm
.idea/

# Log files
*.log

# Unit test cache
.pytest_cache/
.tox/
coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy and other type-checking
.mypy_cache/

# Node dependencies (if using any frontend tooling)
node_modules/

# Build files
dist/
build/
*.egg-info/